<h2>Show user</h2>

<ul>

  <li>
    <strong>Viewer:</strong>
    <%= @current_user.username %>
  </li>

  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

</ul>

<%= link "Edit", to: user_path(@conn, :edit, @user) %>
